.nombreViaje{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    min-height: 150px;
}

.tituloDescripcion{
    display: flex;
    justify-content: space-between;
}

.botonEditar{
    background-color: yellow;
    border-radius: 5px;
 height: 30px;

}
.botonEditar:hover{
    opacity: 0.8;
}

.botonActualizar{
    background-color: green;
    border-radius: 5px;
   height: 30px;
}

.botonActualizar:hover{
    opacity: 0.8;
}

.editarNombreViaje{ 
    display: flex;
    justify-content: space-between;
}

.editarTituloDescripcion{
    width: 90%;
}

.editarTitulo{
      margin-bottom: 10px;
}


.textoDescripcion{
    white-space: pre-wrap
}
